[Unit]
Description=oinit Certificate Authority

[Service]
ExecStart=/usr/local/sbin/oinit-ca -l 0.0.0.0:8080 -c /etc/oinit-ca/config.ini

[Install]
WantedBy=multi-user.target
